ul {
  position: relative;
  display: inline-block;
}

li {
  display:block;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: #ffffff;
  transition: all ease 300ms;

  color: aqua;
}

.header {
  position: relative;
  width: 100vw;
  height: 80px;
  left: 0px;
  top: 0px;

  color: aqua;
}

.categories {
  flex-direction: row;
  align-items: center;
  padding: 0px;
  display: inline-block;
  position: relative;
  width: 234px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px 0px 0px 90px;
  text-transform: uppercase;
  cursor: pointer;
  border-style: none;

  color: aqua;
}

.element {
  display: inline;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;

  position: static;
  width: 70px;
  height: 60px;
  left: 0px;
  bottom: 2px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.element:active {
  border-style: none;
  border-bottom: 2px solid #5ece7b;
  text-decoration: #5ece7b;
}
.element:hover {
  border-style: none;
  border-bottom: 2px solid #5ece7b;
}

p {
  position: relative;
  left: 101px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;

  display: flex;
  align-items: center;

  color: #1d1f22;
}

.lang {
  position: relative;
  float: right;
  right: 30px;
  background-color: #fafafa;
  box-shadow: 3px 2px 7px 1px lightgrey;
}

.item {
  width: 600px;
  height: 300px;
  margin: 20px;
}